<div class="fixedTop">
	<button class="header archive btn btn-danger">Archive</button>
	<span class="header remaining"></span>
</div>

<div class="main">
	<div class="leftSearch">
	  <span class="header">Add new todo</span>
	      
	       <form ng-submit="addTodo()">
	        <input type="text" ng-model="todoText" class="todoInput" placeholder=" Add todo...">
	        <input class="header btn btn-primary addBtn" type="submit" value="Add">
	      </form>
	</div>

	<div class="right">
	<span class="header">Search</span>


		<form ng-submit="searchTodo()">
	      <input placeholder=" Search..." ng-model="searchText" class="searchInput" /> 
	        <input class="header btn btn-success searchBtn" type="submit" value="Search">
	      </form>
	</div>	
</div>

<div class="centerWide">
	        <div class="animation resultBox">
		        <div class="">
		          <span class="todoText"></span>
		        </div>
	        </div>
	</div>
</div>


