<div class="fixedTop">
	<button class="header archive btn btn-danger" ng-click="archive()">Archive</button>
	<span class="header remaining">{{remaining()}} of {{todos.length}} remaining</span>
</div>

<div class="main">
	<div class="leftSearch">
	  <span class="header">Add new todo</span>
	      
	       <form ng-submit="addTodo()">
	        <input type="text" ng-model="todoText" class="todoInput" placeholder=" Add todo...">
	        <input class="header btn btn-primary addBtn" type="submit" value="Add">
	      </form>
	</div>

	<div class="right">
	<span class="header">Search</span>


		<form ng-submit="searchTodo()">
	      <input placeholder=" Search..." ng-model="searchText" class="searchInput" /> 
	        <input class="header btn btn-success searchBtn" type="submit" value="Search">
	      </form>
	</div>	
</div>

<div class="centerWide" ng-init="todos=[{text:'Build webapp', done:false}, {text:'Be awesome', done:true}, {text:'Eat cake', done:true}]">
	        <div class="my-repeat-animation resultBox" ng-repeat="todo in todos | filter:searchText" ng-click="check(todo)">
		        <div class="done-{{todo.done}}">
		          <span class="todoText done-{{todo.done}}">{{todo.text}}</span>
		        </div>
	        </div>
	</div>
</div>


